/* Denna fil skall innehålla din CSS kod */
*{margin: 0;}

#headercontainer {
    display: grid;
    width: 100vw;
    height: 60vh;
    grid-template-areas: 
    "he he he"
    "ia ia ia"
    "ia ia ia"
    
    ;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0px;
    background-color: rgb(228, 228, 228);
    
}

#articlecontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "ic ic ic"
    "ic ic ic"
    "ic ic ic"
    
    ;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0px;
    background-color: rgb(228, 228, 228);
    
}

#header {
    grid-area: he;
    background-color: rgb(14, 14, 14);
}

#innercontainer {
    display: grid;
    grid-area: ic;
    grid-template-areas: 
    "a1 a1 a1"
    "a2 a3 a4"
    
    ;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
    
}

#article1 {
    grid-area: a1;
    background-color: darkcyan;
}

#article2 {
    grid-area: a2;
    background-color: darkcyan;
}

#article3 {
    grid-area: a3;
    background-color: darkcyan;
}

#article4 {
    grid-area: a4;
    background-color: darkcyan;
}

#article5 {
    grid-area: a5;
    background-color: darkcyan;
}

#article6 {
    grid-area: a6;
    background-color: darkcyan;
}

#invisiblearticle {
    grid-area: ia;
    
}